.first-sec{
  /* background-color: #ff99ff; */
  margin-top: 60px;
}
.first-con{
  /* background-color: #ff3300; */
}
.first-img{
  /* background-color: #009900; */
}
.sec-sec{
  /* background-color: #ffff00; */
  margin-top: 60px;
}
.second-con{
  /* background-color: #009933; */
}
.second-img{
  /* background-color: #ffcc00; */
  margin-top: 37px;
}
