/*========================================================================================*/
/* index  html css starts */
/*========================================================================================*/
/*------------------------------*/
/* Navigation Bar */
/*------------------------------*/
.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown:hover .dropdown-menu {
  max-height: 200px;
  opacity: 1;
}
/*------------------------------*/
/* Navigation Bar ends */
/*------------------------------*/
/*------------------------------*/
/* Feature Section */
/*------------------------------*/
.ft-section-main{
  /* background-color: #ff9966; */
  margin-top: 60px;
}
.ft-icon-gap{
  margin-top: 12px;
}
.ft-para{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.875rem;
  margin-bottom: 60px;
}
.ft-sec-row-gap{
  margin-top: 60px;
}
.key-fe-pad p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.4rem;
  font-weight: 400;
}
.ft-col-1{
  /* background-color: #ff99ff; */
}
.ft-col-2{
  /* background-color: #9966ff; */
}
.ft-col-3{
  /* background-color: #00ff00; */
}
.ft-col-4{
  /* background-color: #cc6699; */
}
.ft-col-5{
  /* background-color: #6666ff; */
}
.ft-col-6{
  /* background-color: #cc0099; */
}
.ft-col-7{
  /* background-color: #00cc99; */
}
.ft-col-8{
  /* background-color: #666699; */
}
.pf-one{
  padding: 5px;
}
.key-fe-pad{
  padding: 10px;
}

/*------------------------------*/
/* Feature Section */
/*------------------------------*/
/*------------------------------*/
/* Business Benefits*/
/*------------------------------*/
.bb-section-one{
  /* background-color: #9933ff; */
  margin-top: 60px;
}
.bb-section-one-para{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.875rem;
  margin-bottom: 60px;
}
.bb-section-two{
  /* background-color: #9933ff; */
}
.bb-col-1{
  /* background-color: #ff9933; */
}
.bb-col-2{
  /* background-color: #cccc00; */
}
.bb-col-3{
  /* background-color: #66ff33; */
}
.bb-col-4{
  /* background-color: #00ff99; */
}
.bb-col-5{
  /* background-color: #669999; */
}
.bb-col-6{
  /* background-color: #993333; */
}
/*------------------------------*/
/* Feature Benefits */
/*------------------------------*/

/*---------------------------*/
/*Business Features*/
/*--------------------------*/
.bf-gap{
  margin-top: 60px;
}
/*---------------------------*/
/*Business Features*/
/*--------------------------*/
/*---------------------------*/
/*Plan section*/
/*--------------------------*/
.pl-section-main{
  /* background-color: #66ffff; */
  margin-top: 60px;
}
.pl-section-one-para{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.875rem;
  margin-bottom: 60px;
}
.pl-col-1{
  /* background-color: Yellow; */
}
.pl-col-2{
  /* background-color: #009933; */
}
.pl-col-3{
  /* background-color: #993399; */
}
/*---------------------------*/
/*Plan section*/
/*--------------------------*/
/*---------------------------*/
/*Footer section*/
/*--------------------------*/
.foot-gap{
  margin-top: 60px;
}
.dark-grey-text {
    color: #4f4f4f;
}
.text-black-50 {
    color: rgba(0,0,0,.5)!important;
}
footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
    color: rgba(255,255,255,.6);
}
.teal.accent-3 {
    background-color: #1de9b6!important;
}
.blue-grey.lighten-5 {
    background-color: #eceff1!important;
}
.foot-section-main{
  /* background-color:#ff0066; */
  background-color:black;
  padding: 8px;
}
address{
  color: white;
}
.foot-col-1{
  /* background-color:#ff99ff; */
}
.foot-col-2{
  /* background-color:#00ffcc; */
}
.foot-col-3{
  /* background-color:#cc33ff; */
}
.foot-col-4{
  /* background-color:#ff3300; */
}
/*---------------------------*/
/*Footer section*/
/*--------------------------*/
/*---------------------------*/
/*carousel section*/
/*--------------------------*/
.third-slider{
  position: relative;
  left:70px;
}
.top-back{
  /* background-color: yellow; */
}
.top-sec-view{
  display: inline-block;
  position: absolute;
  bottom: 200px;
}
.top-sec-content{
  display: inline-block;
  position: absolute;
  bottom: 60px;
}
.sec-heading-color{
  color: #aec928;    
  /* background-color: pink; */
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {width: 250px;}
/*---------------------------*/
/*carouselsection*/
/*--------------------------*/

/*---------------------------*/
/*Plan section Correction*/
/*--------------------------*/
.plan-correct{
  margin-bottom: 10px;
}
/*---------------------------*/
/*Plan section Correction*/
/*--------------------------*/

/*---------------------------*/
/*Media Query*/
/*--------------------------*/
@media (max-width: 575.98px) {
  .thumb-mob-only{
    margin-bottom: 10px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

/*---------------------------*/
/*Media Query*/
/*--------------------------*/
.text-success {
    color: black !important;
}
.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.log-color a{
  color: black;
}
/*========================================================================================  */
/* index  html css end*/
/*=======================================================================================  */


/*========================================================================================  */
/* Fetures html css starts*/
/*=======================================================================================  */
.feature-first-sec{
  /* background-color: #ff99ff; */
  margin-top: 60px;
}
.feature-first-con{
  /* background-color: #ff3300; */
}
.feature-first-img{
  /* background-color: #009900; */
}
.feature-sec-sec{
  /* background-color: #ffff00; */
  margin-top: 60px;
}
.feature-second-con{
  /* background-color: #009933; */
}
.feature-second-img{
  /* background-color: #ffcc00; */
  margin-top: 37px;
}
/*----hover image effect ----*/

.feature-outer-div
{
  height: 30vh;
  overflow: hidden;
}
.feature-inner-div
{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background-image: url('images/pexels-photo-1181355.jpeg');
}
.feature-inner-div:hover
{
  transform: scale(1.2);
}


.feature-outer1-div
{
  height: 30vh;
  overflow: hidden;
  background-color: yellow;
}
.feature-inner1-div
{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background-image: url('images/man-coffee-cup-pen.jpg');
  background-color: red;
}
.feature-inner1-div:hover
{
  transform: scale(1.2);
  background-color: blue;
}
/*----hover image effect ----*/
/*========================================================================================  */
/* Fetures html css end*/
/*=======================================================================================  */


/*========================================================================================  */
/* Solutions html css starts*/
/*=======================================================================================  */
.solutions-first-sec{
  /* background-color: #ff99ff; */
  margin-top: 60px;
}
.solutions-first-con{
  /* background-color: #ff3300; */
}
.solutions-first-img{
  /* background-color: #009900; */
}
.solutions-sec-sec{
  /* background-color: #ffff00; */
  margin-top: 60px;
}
.solutions-second-con{
  /* background-color: #009933; */
}
.solutions-second-img{
  /* background-color: #ffcc00; */
  margin-top: 37px;
}
/*========================================================================================  */
/* Solutions html css ends*/
/*=======================================================================================  */

/*========================================================================================  */
/* Plans html css starts*/
/*=======================================================================================  */
.plans-first-sec{
  /* background-color: #ff99ff; */
  margin-top: 60px;
}
.plans-first-con{
  /* background-color: #ff3300; */
}
.plans-first-img{
  /* background-color: #009900; */
}
.plans-sec-sec{
  /* background-color: #ffff00; */
  margin-top: 60px;
}
.plans-second-con{
  /* background-color: #009933; */
}
.plans-second-con img{

}
.plans-second-img{
  /* background-color: #ffcc00; */
  margin-top: 37px;
}
/*========================================================================================  */
/* Plans html css ends*/
/*=======================================================================================  */


/*========================================================================================  */
/* About us html css starts*/
/*=======================================================================================  */
.about-first-sec{
  /* background-color: #ff99ff; */
  margin-top: 60px;
}
.about-first-con{
  /* background-color: #ff3300; */
}
.about-first-img{
  /* background-color: #009900; */
}
.about-sec-sec{
  /* background-color: #ffff00; */
  margin-top: 60px;
}
.about-second-con{
  /* background-color: #009933; */
}
.about-second-img{
  /* background-color: #ffcc00; */
  margin-top: 37px;
}
/*========================================================================================  */
/* About us html css ends*/
/*=======================================================================================  */

/*========================================================================================  */
/* Contact us html css starts*/
/*=======================================================================================  */
.contact-frm-test{
  margin-top: 60px;
}
.contact-txt{
 margin-bottom: 40px;
}
/*========================================================================================  */
/* Contact us html css ends*/
/*=======================================================================================  */
